certoscale/build/*
serialLib/build/*
serialLib/.externalNativeBuild/
build/*
library/build/*

*.o
*.d
CertoBalance.iml
android-application-certobalance-androidstudio.iml
local.properties
*.iml
gradle/*
.gradle
/.gradle/*
.gradle/*

idea/*
.idea
.idea/*
/.idea/*

captures/
