certoscale/build/*
build/*
library/build/*
.*
!/.gitignore
gradle/*
*.o
*.d
.idea/vcs.xml
CertoBalance.iml
android-application-certobalance-androidstudio.iml
local.properties
*.iml
.gradle
/.gradle/*
.gradle/*
/.*
/.idea/*
.idea/*
/.idea/workspace.xml
/.idea/modules.xml
/.idea/libaries/support_v4_23_0_0.xml
/.idea/libaries/support_annotations_23..xml
captures/
